* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
ul,ol {
    list-style: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}
.wrap {
    flex-wrap:wrap;
}
.flex {
    display: flex;
    

}
.card {
    display: flex;
    align-items: center;
    background-color: black;
    gap:10px;
    
}


.block {
    display: block;
    width: 180px;
    aspect-ratio: 1/1;
}


.title {
    color:rgba(219, 20, 20, 0.856);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-shadow: 10px;
    text-align: center;
    margin:20px 0;
}

.col-33 {
    width: calc(100%/3);
    flex-grow: 1;
    padding: 10px;
    
}
.team-details {
    min-width: 100%;
    color:white;
    text-wrap: nowrap;
    flex-grow:1;
}

.none {
    display: none;
}


.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none; 
}


.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/*media query*/
@media (max-width: 990px) {
    
    .col-33 {
        width: 50%;
    }
}
@media (max-width: 768px) {
    
    .col-33 {
        width: 100%;
    }
}



